.header {
  display: flex;
  position: absolute;
  width: 480px;
  height: 40px;
  left: 108px;
  top: 108px;
  z-index: 999999;
}

.logo {
  position: absolute;
  width: 118px;
  height: 40px;
  left: 0px;
  top: 0px;
}

.logo1 {
  position: absolute;
  width: 25px;
  height: 40px;
  left: -8px;
  top: -8px;
}

.logo2 {
  position: absolute;
  width: 78px;
  height: 16px;
  left: 32px;
  top: 12px;
}

.main-nav-list {
  display: flex;
  color: #6a707b;
  list-style: none;
  position: absolute;
  height: 26px;
  left: 183px;
  top: -9px;
  gap: 25px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #6a707b;
}

@media (max-width: 375px) {
  .header {
    width: 375px;
    height: 66px;
    left: 0px;
    top: 0px;
    background-color: #fff;
  }

  .logo {
    left: 28px;
    top: 18px;
  }
  .logo2 {
    display: none;
  }

  .main-nav-list {
    height: 24px;
    left: 109px;
    top: 5px;
    gap: 14px;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 14px;
    line-height: 24px;
  }
}
